<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="shortcut icon" href="../imgs/logo-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/action_page.php" method="get">
            <h3 id="cabecalho">MACS CURSOS</h3>

            <label for="nome">Nome: </label> 
            <input type="text" id="nome" name="nome"> <br>

            <label for="email">Email: </label> 
            <input type="text" id="email" name="email"> <br> 

            <label for="user">Login: </label> 
            <input type="text" id="user" name="user"> <br>
    
            <label for="password">Password: </label>
            <input type="password" id="password" name="password"> <br>

    
            <input id="btn" type="submit" value="Submit">


        </form>
    </div>
    
</body>
</html>