<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Recuperação de Senha</title>
    <link rel="shortcut icon" href="../imgs/logo-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/action_page.php" method="get">
            <h3 id="cabecalho">MACS CURSOS</h3>
            <h4>Recuperar Senha</h4>
            <br>
            <label for="user">Email: </label> 
            <input type="text" id="user" name="user" placeholder="Digite seu e-mail"> <br>
    
    
            <input id="btn" type="submit" value="Enviar">


        </form>
    </div>
    
</body>
</html>