* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;


}

header, nav, main, section, article, aside, footer {
    padding: 20px;

}

header {
    background: linear-gradient(235deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%);
    color: #030202;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
}

nav {
    background: rgb(76, 84, 201);
    color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}

.grid-item a {
    text-decoration: none;
    color: #f4f4f4;
}

main {
    background: #f4f4f4;
    padding: 10px; 
}

section {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

article {
    background: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

aside {
    background: #e2e2e2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 6px;

}

footer {
    background: rgb(76, 84, 201);
    color: #fff;
    text-align: center;
}

/* Estilos para o container do grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 3 colunas de tamanho igual */
    grid-gap: 10px; /* Espaçamento entre os itens */
    padding: 10px;
    
    
}

/* Estilos para os itens do grid */
.grid-item {
    background: rgb(76, 84, 201);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 15px;
    text-decoration: none;
    
}


.conteudo.active {
    background: rgb(76, 84, 201);
}


/* Consultas de mídia para telas menores */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
}