body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

header, nav, main, section, article, aside, footer {
    padding: 20px;

}

header {
    background: linear-gradient(235deg, rgb(75,63,197) 0%,rgb(79,145,214) 100%);
    color: #030202;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background: rgb(76, 84, 201);
    color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background: #f4f4f4;
    padding: 20px; 
}

section {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
}

article {
    background: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
}

aside {
    background: #e2e2e2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;

}

footer {
    background: rgb(76, 84, 201);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
